
body {
    background-color: rgb(159, 252, 205);
    margin: auto 45px;
    text-align: center;
} 
footer {
    font-size: 2.5em;
}

h1, h2 {
    font-family: 'Rock Salt', cursive;
}

#author {
    font-weight: bold;
    font-size: 36px;
}
#header-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.row {
    display: flex;
}

.instrument {
    flex: 33.33%;
    padding: 5px

}

#photo {
    display: block;
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    display: block;
    border-color: black;
    background-color:white;
    font-weight: bolder;
    padding: 2px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    ;
}